body {	
	margin: 0px;
	padding: 0px;	
	font-family: Times New Roman, serif;
	font-weight: 600;
}

#header {
	background-image: url("images/bg-image.png");
	background-size: 100%;
	color: white;
}

#mainInfo {
	padding: 50px;

}
#wrapper{	
	width: 960px;
	margin: 0 auto;
}
.info {
	margin: 15px;
	margin-top: 0px;
	width: 30%;
	float: left;

	text-align: center;
	font-weight: 400;

	color: black;
}

#projects {
	display: inline-block;
	text-align: center;	
	background-color: rgb(220,220,220);	
	border-radius: 15px;
}

.project {
	display: inline-block;
	width: 20%;
	margin:15px;
	margin-bottom: 30px;
}

.project img {
	width: 100%;
}

#footer {
	text-align: center;
	margin: 0 auto;
}
#footer h2 {
	margin: 0 auto;
}
.contact {
	margin: 15px;
	width: 30%;

	border-radius: 15px;
	display: inline-block;
	text-align: center;
	font-weight: 400;

}